:root {
  --bg: #efefef;
  --fg: #181819;
  --subtle: #444;
}

body {
  font-family: Quicksand, sans-serif;
  max-width: 80ch;
  margin: 0 auto;

  font-size: 120%;

  background-color: #efefef;
  color: #181819;
}

.subtle {
  color: var(--subtle);
}

.hero-header {
  font-size: 2rem;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: var(--subtle);
  text-underline-offset: 4px;
}

a:hover {
  color: var(--fg);
}

.badge-container {
  position: relative;
}

.badge-container .badge {
  position: absolute;
  top: -10px;
  right: -70%;
  font-size: 0.6rem;
  background-color: black;
  color: white;
  border-radius: 100px;
  padding: 4px 8px;
}
